
<div class="inquiry" id="inquiry-{{_id}}">
    <div class="inquiryData">
        <div class="meta">
            <img class="avatar" />
            <span class="name">Anonymous</span>
            <span class="created"></span>
        </div>
        <div class="question"></div>
        <div class="answer"></div>
        <div class="clicky"></div>
    </div>
</div>
