
<div class="inquiry" id="inquiry-{{id}}">
    <div class="meta">
        <img class="avatar" />
        <div class="name">Anonymous</div>
        <div class="created"></div>
    </div>
    <div class="question">
        <div class="questionText"></div>
    </div>
    <div class="action">
    </div>
</div>
