
<div class="inquiry" id="inquiry-{{_id}}">
    <div class="meta">
        <img class="avatar" />
        <div class="name"></div>
        <div class="created"></div>
    </div>
    <div class="question"></div>
    <div class="action"></div>
</div>
