
<div class="listing clearfix">
    <div id="listing-left" class="section-left">
        <div id="listing-image"><img /></div>

        <div id="listing-messages">
            <h2>Messages</h2>
        </div>

    </div>


    <div id="listing-details" class="section-right">

        <div id="listing-creator"></div>

        <div id="listing-status">
            <span class="status">Available</span>
        </div>

        <div id="listing-description"></div>

        <div class="bottom">

            <div id="listing-locDiff"></div>

            <a href="#" class="mapLink" target="_blank">
                <img class="map" /></a>

            <div id="listing-social">
                <div class="fb"></div>
                <div class="twitter"></div>
            </div>

        </div>

    </div>
    

        <div id="listing-offerbar" class="clearfix">
            <div class="listing-obi asking">
                <div class="listing-obi-title">Asking Price</div>
                <div class="listing-obi-value"></div>
            </div>
            <div class="listing-obi best-offer">
                <div class="listing-obi-title">Best Offer</div>
                <div class="listing-obi-value">$0</div>
            </div>
            <div class="listing-obi my-offer">
                <div class="listing-obi-title">My Offer</div>
                <div class="listing-obi-value">$0</div>
            </div>
        </div>
        <div class="offerFormWrapper">
            <div class="fakeInput" id="listing-offerButton"></div>
        </div>

    <div id="listing-inquiries" class="section-right">
        <h2>Question and Answer</h2>
    </div>

</div>
