
<div class="listing clearfix">

    <div class="section-left">

        <div id="listing-image">
            <img />

            <div id="listing-image-next">
                <img src="http://placekitten.com/100/100">
                <img src="http://placekitten.com/100/100">
                <img src="http://placekitten.com/100/100">
                <img src="http://placekitten.com/100/100">
            </div>
        </div>

        <div id="listing-messages">
            <div class="messageButton">Ask a Question</div>
        </div>

    </div>

    <div class="section-right">

        <div id="listing-details">

            <div id="listing-creator"></div>

            <div id="listing-social">
                <div class="fb"></div>
                <div class="twitter"></div>
            </div>

            <div id="listing-status">
                <span class="status">Available</span>
            </div>

            <div id="listing-description"></div>
            <div class="created"></div>

            <div class="bottom">

                <div id="listing-locDiff"></div>

                <a href="#" class="mapLink" target="_blank">
                    <img class="map" /></a>

                <div id="listing-offerbar" class="clearfix">
                    <div class="left">
                        <div class="title">Asking Price</div>
                        <div class="value asking">$0</div>
                        <div class="details asking"></div>
                    </div>
                    <div class="middle">
                        <div class="title">Best Offer</div>
                        <div class="value best-offer">$0</div>
                        <div class="details best-offer"></div>
                    </div>
                    <div class="right">
                        <div class="title">My Offer</div>
                        <div class="value my-offer">$0</div>
                        <div class="details my-offer"></div>
                    </div>
                </div>

            </div>

        </div>
        

        <div class="offerFormWrapper">
            <div class="button offerButton">Make an Offer</div>
        </div>

        <div id="listing-inquiries">
            <h2>Question and Answer</h2>
        </div>
        
    </div>

</div>
