
<div class="listing clearfix">
    <div id="listing-image" class="section-left"><img /></div>

    <div id="listing-sidebar" class="section-right">
        <a href="#" class="mapLink" target="_blank"><img class="map" /></a>
        <div id="listing-locDiff"></div>

        <div id="listing-creator"></div>

        <div id="listing-offerbar" class="clearfix">
            <div class="listing-obi asking">
                <div class="listing-obi-title">Asking Price</div>
                <div class="listing-obi-value"></div>
            </div>
            <div class="listing-obi best-offer">
                <div class="listing-obi-title">Best Offer</div>
                <div class="listing-obi-value">0</div>
            </div>
            <div class="listing-obi date">
                <div class="listing-obi-title">Minutes Ago</div>
                <div class="listing-obi-value"></div>
            </div>
        </div>
        <div id="listing-status">
            Listing Status: <span class="status">Available</span>
        </div>
        <div id="listing-description"></div>
        <div id="listing-social">
            <div class="fb"></div>
            <div class="twitter"></div>
        </div>
    </div>

    <div id="listing-inquiries" class="section-right">
        <h2>Question and Answer</h2>
    </div>

    <div id="listing-messages" class="section-left">
        <h2>Messages</h2>
    </div>
</div>
