
<form id="new_listing">
    <div class="form_item">
        <img id="image" />
        <label for="take_image" class="placeheld">Image:</label>
        <input type="button" id="take_image" value="Take" />
    </div>
    <textarea class="form_item" id="description" name="description"
        rows="3" placeholder="Description:"></textarea>
    <input class="form_item" type="text" id="price" name="price"
        placeholder="Price:" />
</form>
