
<div class="offer" id="offer-{{id}}">
    <div class="creator">
        <span class="name"></span>
        <img class="avatar" />
    </div>
    <div class="amount">
        <div class="amountNumber"></div>
        <div class="amountText"></div>
    </div>
    <div class="control">
    </div>
</div>
