
<div class="offer" id="offer-{{id}}">
    <div class="meta">
        <img class="avatar" />
        <div class="name">Anonymous</div>
        <div class="created"></div>
    </div>
    <div class="amount">
        <div class="amountNumber"></div>
        <div class="amountText"></div>
    </div>
    <div class="action">
    </div>
</div>
