<script id="offerForm" type="text/html">
<div id="offerForm" class="clearfix">
    <form>
        <input type="email" placeholder="email" />
        <input type="text" placeholder="amount" />
        <input type="submit" class="submit" />
    </form>
</div>
</script>