
<div id="thanks">
    <p>Your listing has been created!</p>

    <p>We’ll be crossposting the listing to Craiglist shortly.  For now, just
    sit back and relax, and we'll notify you when you've got a serious
    offer.</p>

    <p>Thanks for using Hipsell</p>
</div>
