
<div id="thanks">
    <p>Thanks for posting!</p>
    <p>We’ll be putting your item up on Craigslist shortly. You’ll receive a confirmation email with a link to your listing, but you don’t need to do anything with it.</p>
    <p>You can now relax until we email you with a serious offer.</p>
</div>
