
<div id="{{name}}" class="{{class}} image_capture clearfix"
        {{#hide}}style="display:none"{{/hide}}>

    <img />

    <span class="placeheld">{{placeholder}}</span>

    {{#cam}}
        <a href="#" class="take button">Take</a>
    {{/cam}}

    {{#noCam}}
        <input type="file" accept="image/*" class="selectFile">
    {{/noCam}}
</div>
