
<div id="{{name}}" class="{{class}} image_capture clearfix"
        {{#hide}}style="display:none"{{/hide}}>
    <img />
    <span class="placeheld">{{placeholder}}</span>
    <a href="#" class="take button">Take</a>
</div>
