/*      Portrait Mobile Layout: 320px.*/
@media only screen and (max-width: 480px) {

    $layout_width: 320px;

    .width{width: $layout_width !important;}

    #top-bar{display:none;}

    header{
        ul{
            width: $layout_width - 210px;

            li{display:none;}
            li.right{
                display:block;
            }
            #newListing{
                display:block;
            }
        }
    }

    footer{display:none;}

    #loading {
        display:none;

        position:absolute;
        top:80px;left:50%;
        width:80px;margin-left:-50px;
        height:40px;

        text-align:center;
        padding:10px;
        color:$white;
        background-color:transparentize($black, 0.2);
        @include rounded();
        z-index:2;
    }
}