<h1>Change Password</h1>
<p>To change your password, enter your current password first, and
then the new password you'd like to set.</p>

<p>
  <h4>Current Password</h4>
  <input name="password" type="password">
</p>

<p>
  <h4>New Password</h4>
  <input name="new-password" type="password">
  <h4>New Password (Again)</h4>
  <input name="new-password2" type="password">

  <input type="submit" value="Submit" style="margin-top: 10px;">
</p>
