
<div class="flatpage" id="settings">    
    <div id="nav">
        <a href="#!/settings/name">Change Public Name</a>
        <a href="#!/settings/password">Change Password</a>
        <a href="#!/settings/social">Social Integration</a>
        <!--
        <a href="#!/settings/avatar">Set Avatar</a>
        <a href="#!/settings/email">Change Email</a>
        -->
    </div>

    <div id="setting">
        <h1>Settings</h1>
        <p>Some sort of text</p>
    </div>

    
</div>
