
<div class="message" id="message-{{_id}}">
    <div class="meta">
        <img class="avatar" />
        <div class="name">Anonymous</div>
        <div class="created"></div>
    </div>
    <div class="message"></div>
</div>
