
<div class="message" id="message-{{_id}}">
    <div class="meta">
        <img class="avatar" />
        <span class="name">Anonymous</span>
        <span class="created"></span>
    </div>
    <div class="messageBody"></div>
</div>
