
a{text-decoration:none;color:$blue;}
a:hover{text-decoration:underline;}
ul, li{margin:0;padding:0;list-style:none;}

h1,h2,h3,h4,h5,h6{
    font-weight:bold;
    margin:10px 0 5px;
}
h1{
    margin-top:0px;
    font-size:30px;
}
h2{
    font-size:25px;
}
h3{
    font-size:20px;
}
h4{
    font-size:16px;
}

textarea, input[type=text], input[type=email], input[type=password], .fakeInput{
    -webkit-appearance: none;
    padding:5px;
    border:1px solid $grey - #282828;
    background-color:$grey + #111;
    @include rounded(5px);
    @include box-shadow(inset 0 1px 5px $grey - #222);
    cursor:text;
}
.fakeInput{
    min-height:14px;
}

.red{color:$red;}

/* mixing placeholder because browser prefixes need thier own declaration */
@mixin placeholder(){
    color:$black + #444 !important;
}
.placeheld {@include placeholder;}
::-webkit-input-placeholder {@include placeholder;}
:-moz-placeholder {@include placeholder;}

@include light-button(#d5d5d5);
@include dark-button($black + #222, '.dark');

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#dialog{display:none;}

.width{
    display:block;
    width:$layout_width;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.popup{
    position:absolute;

    background-color:$grey;
    z-index:2;
    font-size:13px;
    padding:5px;
    border:1px solid $grey - #555;
    @include rounded();
    @include box-shadow(0 2px 4px $black + #333);
    @include dark-button($blue - #444, '.submit');

    input{
        margin-bottom:5px;
    }

    input.submit{
        padding:3px 10px 4px !important;
        width:77px;
        color:$white !important;
        margin-bottom:0;
        float:right;
    }
}

.image_capture{
    .take{
        float:right;
    }
}

.list-box{
    background-color:$white;
    @include box-shadow(0 1px 3px $black + #666);

    h2{
        margin:0;
        padding:10px;
        font-size:16px;

        text-shadow:0 1px 1px $white;
        /*border: 1px solid $grey - #333;*/
        border-bottom:1px solid $grey - #333;
        border-top:1px solid $white;
        @include gradient($grey, $grey - #080808);
        /*@include box-shadow(inset 0 1px 2px $grey - #333);*/
    }

    li, .li {
        padding:10px;
        border-top:1px solid $grey;
    }
}

