
a{text-decoration:none;color:$blue;}
a:hover{text-decoration:underline;}
ul, li{margin:0;padding:0;list-style:none;}

textarea, input[type=text], input[type=email], input[type=password]{
    -webkit-appearance: none;
    padding:5px;
    border:1px solid $grey - #333;
    background-color:$white;
    @include rounded(0px);
}

/* mixing placeholder because browser prefixes need thier own declaration */
@mixin placeholder(){
    color:$black + #444 !important;
}
.placeheld {@include placeholder;}
::-webkit-input-placeholder {@include placeholder;}
:-moz-placeholder {@include placeholder;}


@include light-button(#d5d5d5);
@include dark-button($black + #222, '.dark');

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#dialog{display:none;}

.width{
    display:block;
    width:$layout_width;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}
