

.listing{
    position:relative;

    #listing-image{

        width: $section_width - 20px !important;
        height:450px;
        padding: 10px;
        margin-bottom:15px;

        background-color:$white;
        @include box-shadow(0 1px 3px $black + #666);

        img{
            /*can be removed later*/
            height:450px;
            width:450px;
            
            border:1px solid $grey;
        }
    }

    #listing-image-next{

        height: 100px;
        padding: 10px;
        margin-bottom:15px;

/*        background-color:$white;
        @include box-shadow(0 1px 3px $black + #666);*/

        img{
            margin-right: ($section_width - 440px)/4;
            /*border:1px solid $grey;*/
            @include box-shadow(0 1px 3px $black + #666);
        }
        img:last-child{
            margin-right:0;
        }
    }

    #listing-messages{

        @include light-button($blue2);

        .messageButton{
            font-size:18px;
            padding: 8px 0 7px;
            color:$white;
            text-shadow:0 -1px 1px $black + #111;

            margin-bottom:15px;

            &:hover{
                color:$white - #111;
                text-shadow:0 -1px 1px $black;
            }
        }
    }

    #listing-details{
        position:relative;
        
        width:$section_width - 20;
        height:450px;
        padding:10px;
        margin-bottom:15px;

        text-shadow: 0 1px 1px #fff;
        background-color:$white;
        @include box-shadow(0 1px 3px $black + #666);
/*        background-color:rgba($black, 0.1);
        @include box-shadow(inset 0 1px 3px $black + #666);*/

        #listing-creator{
        	margin-bottom:15px;
        }

        #listing-status{
	        float:left;
        	padding:1px 5px 1px;
        	margin: 2px 3px 0 0;
        	font-size:14px;

        	text-shadow:none;
        	color:$white;
        	background-color:$green;
        	@include rounded(3px);
        	@include box-shadow(0 1px 1px $white);
        }

        #listing-description{
        	font-size:18px;
        }
        .created{
            font-size:12px;
            margin-bottom:15px;
        }

        .bottom{
        	position:absolute;
        	bottom:10px;
        	width: $section_width - 20px;
        	height:200px;

            #listing-locDiff{
                font-size:12px;
            }

	        .mapLink{
	        	display:block;
	        	position:absolute;
	        	bottom:30px;
	        	left:0;
	        }

	        #listing-social{
	        	position:absolute;
	        	bottom:0;
	        	left:0;

                width:100%;
	        	height: 30px;

	        	.twitter{
                  position:absolute;
                  right:0;
                  bottom:0;
	        	}
	        	.fb{
                  position:absolute;
                  left:0;
                  bottom:0;
                  width:75px;
                  height:21px;
	        	}
	        }
	    }

    }

	#listing-offerbar{

        height:120px;
        margin-bottom:15px;

/*        background-color:$white;
        @include box-shadow(0 1px 3px $black + #666);*/

        & > div{
            float:left;
            width:($section_width/3) - 35px;
            height:83px;
            padding:10px;
            margin:10px 5px;

/*            text-shadow: 0 1px 1px #fff;
            background-color:$grey;*/
            /*@include box-shadow(inset 0 1px 3px $black + #666);*/
            text-shadow: 0 1px 1px #fff;
            background-color:rgba($black, 0.1);
            @include box-shadow(0 1px 3px $black + #666);
            @include rounded();

            &.right{
                float:right;
            }
            &.left{
                 margin-right:10px;
                .title, .value{
                    color:$red;
                }
            }

            .title{
                font-size:18px;
                font-weight:bold;
            }
            .value{
                margin:5px 0;
                font-size:28px;
                font-weight:bold;
            }
            .details{
                font-size:16px;
            }
        }
	}
    .offerFormWrapper{

        @include light-button($blue2);

        .offerButton{
            font-size:18px;
            padding: 8px 0 7px;
            color:$white;
            text-shadow:0 -1px 1px $black + #111;

            &:hover{
                color:$white - #111;
                text-shadow:0 -1px 1px $black;
            }
        }
    }

    #listing-inquiries{
    }

/*
    #listing-inquiries, #listing-messages{

        h2{
            margin:0 0 10px;
            font-size:18px;
            font-weight:normal;
        }
    }



    #listing-inquiries{
        padding:0;
        width:360px;

        h2{
            padding:10px 10px 0;
        }

        .inquiry{
            z-index:1;
            position:relative;
            min-height:30px;

            @include dark-button($blue - #444);

            .inquiryData{
                padding:10px;
                border-top:1px solid $grey - #111;
            }

            .question{
                margin-left:35px;
            }

            .answer{
                margin:5px 0 0 35px;
                font-weight:bold;
            }
            .ansButton{
                position:absolute;
                top:10px;right:10px;
                display:none;
            }
        }

        .inquiry.canAnswer:hover{
            background-color:$grey + #111;
            .clicky{
                display:block;
                bottom:2px;right:2px;
                @include down-arrow-sprite();
            }
        }

        .inquiry.selected{
            z-index:2;

            .inquiryData{
                z-index:1;
                background-color:$lightBlue !important;
                border-left:1px solid $grey - #444;
                border-right:1px solid $grey - #444;

                @include box-shadow(0 2px 4px $black + #333);

                .clicky{display:none !important;}
                .ansButton{display:none !important;}
            }

            .answerForm{
                z-index:2;
                padding:10px;
                position:absolute;
                bottom:-50px;left:0;
                height:30px;width:558px;

                background-color:$lightBlue !important;
                border:1px solid $grey - #444;
                border-top:none;
                @include box-shadow(0 2px 4px $black + #333);

                @include dark-button($blue - #444, '.submit');

                input[type=text]{
                    width:465px;
                }
                .submit{
                    width:70px;
                    padding: 3px 15px 5px !important;
                    position:absolute;
                    right:10px;
                    top:12px;
                }
            }
        }
    }
    #listing-messages{
        position:relative;

        .messageForm{
            margin-bottom:5px;

            @include dark-button($blue - #444, '.submit');

            input{
                width:325px;
                margin-bottom:5px;
            }
            input[type=submit]{
                width:70px;
                margin-top:1px;
                float:right;
            }
        }

        .message{
            min-height:30px;
            padding:10px 0;
            border-bottom:1px dotted $grey;

            .messageBody{
                margin:-15px 0 0 35px;
            }
        }

        .liConvo{
            height:50px;
            width:580px;
            margin-left:-10px;
            z-index:1;

            background-color:$white;

            .liConvoData{
                height:30px;
                width:560px;
                border-top:1px solid $grey - #111;
                padding:10px;
                z-index:1;

                .amount{
                    position:absolute;
                    right:10px;top:10px;
                    font-size:26px;
                    font-weight:bold;
                    line-height:30px;
                    vertical-align:middle;
                }
                .actions{
                    margin:-15px 0 0 35px;
                    font-size:12px;
                }
                .clicky{
                    @include left-arrow-sprite();
                    top:2px;left:2px;
                }
            }

            &.accepted{
                background-color:#d2ffe7;
            }

            &:hover{
                background-color:$grey + #111 !important;
            }

            &.selected{
                z-index:2;

                .liConvoData{
                    z-index:3;
                    background-color:$lightBlue;
                    .clicky{display:none !important;}
                }

            }


            .conversation{
                position:absolute;
                width:520px; min-height:45px;
                left:45px; top:40px;
                z-index:3;

                background-color:$lightBlue;
                border:1px solid $grey - #444;

                @include box-shadow(0 2px 4px $black + #333);
                @include dark-button($blue - #444, '.submit');
                @include rounded();
                @include rounded-top-right(0px);

                .messageForm input[type=text]{
                    width:300px;
                }
	}

            }
        }
    }*/
}

#new_listing{
    width:100%;

    li, ul {margin:0;padding:0;list-style:none;}
    input[type=text], input[type=email], input[type=password], textarea, .image_capture{
        width:93%;
        padding:2%;
        margin:2%;
        display:block;
        font-size:16px;
        @include sans();

        border:none;
        background-color:$white;
        @include box-shadow(0 2px 4px $black + #222);
        @include rounded(0px);
    }
    .image_capture{
        img{
            max-height:40px;
            width:auto;
            margin:0 0 -7px;
            padding:0;
        }
        .take, .selectFile{
            float:right;
        }
    }
    .form_item:after {@include clearfix();}
}

#thanks{
    width:93%;
    padding:2%;
    margin:2%;
    display:block;
    font-size:16px;
    @include sans();

    border:none;
    background-color:$white;
    @include box-shadow(0 2px 4px $black + #222);
    @include rounded(0px);

    p{
        padding: 10px 0px 10px 10px;
    }
    input{
        margin-top: 25px;
        margin-bottom: -10px;
        width: 95%;
        padding: 10px 5px 10px 5px;
    }
}


