

.listing{
  position:relative;

  #listing-image{

    width: $section_width - 20px !important;
    height:450px;
    padding: 10px;
    margin-bottom:15px;

    background-color:$white;
    @include box-shadow(0 1px 3px $black + #666);

    & > img{
      /*can be removed later*/
      height:448px;
      width:448px;

      border:1px solid $grey;
    }
  }

  #listing-image-next{

    height: 100px;
    margin:10px 0 15px;

/*    background-color:$white;
    @include box-shadow(0 1px 3px $black + #666);*/

    img{
      margin-right: ($section_width - 430px)/4;
      border:1px solid $grey;
    }
    img:last-child{
      margin-right:0;
    }
  }

  #listing-details{
    position:relative;

    width:$section_width - 20;
    height:450px;
    padding:10px;
    margin-bottom:15px;

    /*text-shadow: 0 1px 1px #fff;*/
    background-color:$white;
    @include box-shadow(0 1px 3px $black + #666);
/*    background-color:rgba($black, 0.1);
    @include box-shadow(inset 0 1px 3px $black + #666);*/

    #listing-creator{
      padding-bottom:10px;
      margin-bottom:15px;
      border-bottom:1px solid $grey;
    }

    .status{
      float:left;
      padding:0px 5px 1px;
      margin: 0px 3px 0 0;
      font-size:13px;

      text-shadow:none;
      color:$white;
      background-color:$green;
      @include rounded(3px);
      @include box-shadow(0 1px 1px $white);

      &.accepted{
        background-color:$darkYellow;
      }
      &.sold{
        background-color:$red;
      }
    }

    #listing-description{
      font-size:16px;
    }
    .created{
      font-size:12px;
      margin-bottom:15px;
    }

    .bottom{
      position:absolute;
      bottom:10px;
      width: $section_width - 20px;
      height:255px;

      #listing-loc-diff{
        font-size:12px;
        height:20px;
      }

      .map-link{
        display:block;
        position:absolute;
        top:20px;
        left:0;

        img{
          border:1px solid $grey;
        }
      }

      #listing-social{
        position:absolute;
        top:20px;
        right:0;
        height:100px;
        width:60px;

        padding-bottom:0px;
        margin-bottom:0px;
        border-bottom:0px solid $grey;

        .twitter, .fb, .goog{
          display:block;
        }
        .twitter{}
        .goog{}
        .fb{}
      }

      #listing-offerbar{
        display:block;
        position:absolute;
        top:130px;left:0;

        height:75px;

        border:1px solid $grey - #222;
        background-color:$grey;
        @include gradient($grey + #040404, $grey - #181818);
        text-shadow: 0 1px 1px #fff;

        & > div{
          float:left;
          width: (($section_width - 20px)/3) - 33px;
          height:55px;
          padding:10px;
          margin:0 5px;
          border-right:1px solid $grey - #222;

          &.left{
             margin-right:10px;
            .title, .value{
              color:$green - #111;
            }
          }
          &.middle{
            .title, .value{
              color:$blue - #111;
            }
          }
          &.right{
            float:right;
            border-right:none;
            .title, .value{
              color:$grey - #777;
            }
          }

          .title{
            font-size:18px;
            font-weight:bold;
          }
          .value{
            margin:5px 0;
            font-size:28px;
            font-weight:bold;
          }
          .details{
            font-size:16px;
          }
        }
      }


      .offer-form-wrapper{
        position:absolute;
        bottom:0px;left:0;
        width: $section_width - 20px;

        @include light-button($green);

        .offer-button{
          font-size:18px;
          padding: 8px 0 7px;
          color:$white;
          text-shadow:0 -1px 1px $black + #111;

          &:hover{
            color:$white - #111;
            text-shadow:0 -1px 1px $black;
          }
          .owner &{
            display:none;
          }
          &.open{
            @include gradient($green + #080808, $green - #080808);
            @include rounded-top();
            @include angled-bottom();
          }
        }
        .offer-form{
          display:none;

          width: $section_width - 32px;

          border:1px solid $grey - #222;
          background-color:$grey;
          @include gradient($grey, $grey - #111);
          @include box-shadow((0 1px 2px $black));
          @include dark-button($blue - #444, '.submit');
          @include angled-top();

          input{
            margin-bottom:5px;
            width:$section_width - 135px;
          }
          .submit{
            width:77px !important;
            color:$white !important;
            margin-bottom:0;
            float:right;
          }

        }
      }
    }

  }

  #listing-messages{
    position:relative;
    background-color:$lightBlue;

    .message-form{
      padding:10px;

      input{
        margin-bottom:5px;
        width:$section_width - 125px;
      }
      .submit{
        width:77px !important;
        color:$white !important;
        margin-bottom:0;
        float:right;
      }
    }


    .convo-list, .convo{
      @include dark-button($blue - #444, '.submit');
      background-color:$lightBlue;
    }

    .convo-list{

      .convo-li{
        min-height:35px;

        font-size:14px !important;

        background-color:$lightBlue;
        &:hover{background-color:$lightBlue - #111;}
        &.open{
          background-color:$blue + #222;
          @include gradient($blue + #333, $blue);

          .offer, & > .user{
            color:$white - #111;
            text-shadow: 0px -1px 1px $black + #222;
          }
        }

        &.accepted{
          background-color:$lightGreen;

          &:hover{background-color:$lightGreen - #111;}
        }

        &.sold{
          background-color:$green + #222;
          @include gradient($green + #333, $green);

          .offer, & > .user{
            color:$white - #111;
            text-shadow: 0px -1px 1px $black + #222;
          }

        }

        .actions{
          margin-left:40px;
        }

        .offerbox{
            display:none;
            float:right;
            text-align:right;
            margin-top:-5px;

          .offer{
            font-size: 24px;
            font-weight:bold;
          }

          .accept -offer{
          }

        }

        .convo{
          position:absolute;
          top:41px;left:50px;
          width:$section_width - 60px;
          z-index:2;
          border:none;
          margin-bottom:10px;

          background-color:$white;
          @include box-shadow(0 1px 3px $black + #666);
          @include angled-top();

          input{
            width:$section_width - 215px;
          }
        }
      }
    }

    .convo{

      .message{
        min-height:20px;

        .name{
          font-size:14px !important;
        }

        .message-body{
          margin-left:40px;
          font-size:16px;
        }
      }
    }

  }

  #listing-inquiries{
    width: $section_width;
    margin-top:10px;

    background-color:$lightBlue;

    .inquiry{
      .question{
        font-weight:bold;
      }
    }
  }

}

#new_listing{
  width:100%;

  li, ul {margin:0;padding:0;list-style:none;}
  input[type=text], input[type=email], input[type=password], textarea, .image_capture{
    width:93%;
    padding:2%;
    margin:2%;
    display:block;
    font-size:16px;
    @include sans();

    border:none;
    background-color:$white;
    @include box-shadow(0 2px 4px $black + #222);
    @include rounded(0px);
  }
  .image_capture{
    img{
      max-height:40px;
      width:auto;
      margin:0 0 -7px;
      padding:0;
    }
    .take, .selectFile{
      float:right;
    }
  }
  .form_item:after {@include clearfix();}
}

#thanks{
  width:93%;
  padding:2%;
  margin:2%;
  display:block;
  font-size:16px;
  @include sans();

  border:none;
  background-color:$white;
  @include box-shadow(0 2px 4px $black + #222);
  @include rounded(0px);

  p{
    padding: 10px 0px 10px 10px;
  }
  input{
    margin-top: 25px;
    margin-bottom: -10px;
    width: 95%;
    padding: 10px 5px 10px 5px;
  }
}

