
@mixin dark-button($color: $black + #222){
    input[type=button], input[type=submit], .button{
        display:block;
        padding:6px 15px 8px;

        font-size:12px;
        font-weight:bold;
        color: $color + #aaa;
        text-shadow: $color 0 -1px 2px;

        border:none;
        @include gradient($color + #444, $color + #181818);
        @include rounded();
        @include box-shadow((inset 0 -1px $color - #111,
                             inset 0 1px $color + #666,
                             0 1px 6px #333));
    }
    input[type=button]:hover, input[type=submit]:hover, .button:hover{
        @include gradient($color + #484848, $color + #222);
        color:$white;
        text-decoration:none;
    }
    input[type=button]:active, input[type=submit]:active, .button:active{
        padding:8px 15px 6px;
        border:1px solid $color - #333;
        @include gradient($color + #111, $color + #222);
        @include rounded();
        @include box-shadow((inset 0 1px 1px $color - #111,
                             inset 0 -1px $color + #444));
    }
}

@mixin light-button($color: $white - #222){
    input[type=button], input[type=submit], .button{
        display:block;
        padding:6px 15px 8px;

        font-size:12px;
        font-weight:bold;
        text-align:center;
        color:$color - #777;
        text-shadow: $color + #444 0 1px 2px;

        border:1px solid $color - #181818;
        /*border:1px solid $color - #444;*/
        background-color:$color;
        @include box-shadow((inset 0 0px 0px $color - #333,
                             inset 0 -1px 1px $color,
                             0 1px 2px $black));
        @include gradient($color + #080808, $color - #181818);
        @include rounded();
    }
    input[type=button]:hover, input[type=submit]:hover, .button:hover,
    input[type=button].hover, input[type=submit].hover, .button.hover{
        color:$color - #999;
        text-decoration:none;
    }
    input[type=button]:active, input[type=submit]:active, .button:active,
    input[type=button].active, input[type=submit].active, .button.active{
        border:1px solid $color - #444;
        @include box-shadow((inset 0 0px 2px $color - #444));
        @include gradient($color - #181818, $color + #080808);
    }
}

@mixin hor-center($width){
    position:absolute;
    left:50%;
    margin-left:-($width/2);
}

@mixin vety-center($width){
    position:absolute;
    top:50%;
    margin-top:-($width/2);
}

@mixin text-shadow-lightbg($color: $black, $offset: 1px, $radius: 1px) {
    text-shadow: $color 0 $offset $radius;
}

@mixin box-shadow($value) {
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin sans(){
    font-family: 'Cantarell', arial, sans-serif;
}

@mixin gradient($from, $to){
    background: $to; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='$from', endColorstr='$to'); /* for IE */
    background:-webkit-gradient(linear, left top, left bottom,
        from($from), to($to)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  $from,  $to); /* for firefox 3.6+ */
}

@mixin gradient-clear(){
    filter: none;
    background:none;
}

@mixin background-size($val:contain){
       -moz-background-size: $val;/* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: $val;/* Opera 9.5 */
    -webkit-background-size: $val;/* Safari 3.0 */
            background-size: $val;/* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

/**
* clearfix
* usage:
    .container elem{float:right}
    .container:after {@include clearfix();}
**/
@mixin clearfix(){
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
* Rounded corners:
    @rounded($radius: 10px);
    @rounded-top($radius: 10px);
    @rounded-top-right($radius: 10px);
    @rounded-top-left($radius: 10px);
    @rounded-bottom($radius: 10px);
    @rounded-bottom-right($radius: 10px);
    @rounded-bottom-left($radius: 10px);
**/
@mixin rounded($radius: 5px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin rounded-top-right($radius: 5px) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}

@mixin rounded-top-left($radius: 5px) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}

@mixin rounded-top($radius: 5px) {
    @include rounded-top-right($radius);
    @include rounded-top-left($radius);
}

@mixin rounded-bottom-right($radius: 5px) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}

@mixin rounded-bottom-left($radius: 5px) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
}

@mixin rounded-bottom($radius: 5px) {
    @include rounded-bottom-right($radius);
    @include rounded-bottom-left($radius);
}
