
.user{
  position:relative;
  margin-left:80px;
  min-height:80px;

  .avatar{
    position:absolute;
    top:0;left:-80px;
    z-index:1;
    width: 75px;
    height: 75px;
  }
  .presence{
    position:absolute;
    top:0;left:-80px;
    z-index:2;
    height:10px;width:10px;
    @include rounded-bottom-right(2px);

    &.offline{
      background-color:$grey;
      @include transition(color, 1s, ease-in-out, 0.2s);
    }
    &.online{
      background-color:$green;
      @include transition(color, 1s, ease-in-out, 0.2s);
    }
    &.away{
      background-color:$yellow;
      @include transition(color, 1s, ease-in-out, 0.2s);
    }
  }

  .name {
    font-weight:bold;
    font-size:26px;
  }
  .profile{
    font-size:12px;
  }

  .social{
    position:absolute;
    bottom:0;
    left:0;

    a{
      display:none;
      margin-right:5px;
    }
  }

  .created {
    font-size:10px;
  }

  &.inline{
    margin-left:40px;
    min-height:30px;
    display:inline;

    .avatar{
      width: 30px;
      height: 30px;
    }

    img{
      left:-40px;
    }
    .presence{
      left:-40px;
      height:5px;width:5px;
      @include rounded-bottom-right(1px);
    }
    .name{
      font-size:16px;
    }
  }
}



.profile {

  .user-info {
    width: $section_width - 20px !important;
    @media only screen and (max-width: 480px) {
      width: $mob_section_width - 20px !important;
    }

    padding: 10px;

    background-color:$white;
    @include box-shadow(0 1px 3px $black + #666);
  }


  .user-listings {
    .listing{
      float:left;
      margin:20px 20px 0 0;
    }
  }

}

