
$white: #F1F1F2;

$grey: #d5d5d5;
$black: #0A0A0A;
$red: #D31920;
$green: #009345;
$blue: #1b75bb;
$lightBlue: #EAF1F6;
$yellow: #fffaaf;

$layout_width: 960px;

@import "reset";
@import "mixins";
@import "generic";

html, body{
    background-image:url(../img/bg.png);
}

html{
    background-color:#87888B;
}

body{
    /*@include gradient(#E5E5E6, #87888B);*/
    font-size: 14px;
    font-family: 'Cantarell', arial, sans-serif;
}

.width{position:relative;}

#top-bar{
    text-align:right;
    font-size:12px;
    color:$grey - #222;

    padding:5px;
    font-weight:bold;
    background-color:$black;

    .login, .logout{
        color:$white;
        margin-right:0px;
    }
    .login, & > .width > .name{
        padding:0 6px 4px;
        border:1px solid $black;
        border-bottom:0;
    }
    .logout, & > .width > .name{display:none;}

    & > .width > a {
        color:$grey - #222;
        margin-right:10px;
    }

    .open{
        background-color:$grey;
        border-color:$grey - #555;
        @include rounded-top();
        color:$black;
        z-index:3;
        color:$grey - #777;
        text-shadow: $grey + #444 0 1px 2px;
    }

    .settings{
        position:relative;
        padding-right:15px;
        .downArrow{
            position:absolute;
            right:0;top:2px;
            @include down-arrow-noShaodw-sprite()
        }
    }

    #loginForm{
        right:0px;top:17px;
        width:160px;
        @include rounded-bottom();
        @include rounded-top-left();

        input{
            float:right;
            width:148px;
        }
        input.submit{
            width:77px;
        }
    }
    #settings{
        right:55px;top:17px;
        width:170px;
        padding:0;
        text-align:left;


        a{
            padding:10px;
            display:block;
            @include rounded();
            &:hover{
                background-color:$lightBlue;
                text-decoration:none;
            }
        }
    }
    .settingsForm{
        right:5px;top:17px;
        width:300px;

        input{
            width:288px;
        }
    }
}

header{
    height:50px;
    background-color:$black + #222;
    /*@include gradient($black + #383838, $black);*/
    background-image:url(../img/ab_grad.png);
    border-top:1px solid $black + #555;
    border-bottom:1px solid $black + #333;
    @include box-shadow(0 1px 0px $black);

    #logo{
        position:absolute;
        top:9px;left:5px;
        width:170px;
        height:33px;
        background-image:url(../img/ab_logo.png);
        @include background-size();
        background-repeat:no-repeat;
    }

    ul{
        height:100%;
        position:absolute;
        top:0;left:200px;
        width: $layout_width - 200px;

        li{
            height:100%;
            float:left;

            a{
                margin:12px 5px 0;
            }
            @include dark-button();
        }
        li.active{@include dark-button($red - #555)}
        li.thanks{@include dark-button($blue - #555)}
        li.right{
            float:right;
            margin-right:-6px;
        }

        #newListing{
            display:none;
        }
    }
}

#body{
    padding:10px 0 0;

    .section-left, .section-right, .flatpage{
        margin:10px 0;
        position:relative;
        padding:10px;
        background-color:$white;
        @include box-shadow(0 4px 8px $black + #333);
    }
    .section-left{
        width:560px;
        float:left;
    }
    .section-right{
        width:340px;
        float:right;
    }

    .listing{
        position:relative;

        .status{
            display:none;
            position:absolute;
            top:150px;left:50%;
            width:300px;
            margin-left:-160px;
            padding:10px;
            z-index:3;

            text-align:center;
            color:$red;
            font-size:40px;
            font-family: Impact;
            font-weight:normal;

            border:4px solid $red;
            background-color:rgba($black, 0.7);

            @include tilt(10);
        }

        #listing-image{
            height:418px;
            img{
                border:1px solid $grey;
                height:418px;
                width:560px;
            }
        }
        #listing-sidebar{
            height:418px;
            position:relative;

            .map{
                width:340px;
                height:100px;
                border:1px solid $grey;
            }

            #listing-offerbar{
                $bg-color:#d5d5d5;

                margin:15px 0 20px;
                padding:0;

                @include box-shadow(0 1px 2px $black);
                border:1px solid $bg-color - #181818;
                @include gradient($bg-color + #080808, $bg-color - #181818);
                @include rounded();

                font-weight:bold;
                color:$bg-color - #777;
                text-shadow: $bg-color + #444 0 1px 2px;

                .listing-obi{
                    border-right:1px solid $bg-color - #222;
                    padding:5px 10px;

                    width:92px;
                    height:100%;
                    float:left;

                    .listing-obi-title{
                        font-weight:bold;
                        font-size:12px;
                    }

                    .listing-obi-value{
                        font-size:26px;
                        font-weight:bold;
                    }
                }
                .listing-obi.asking{
                    color:$green - #333;
                }
                .listing-obi.best-offer{
                }
                .listing-obi.date{
                    border-right:none;
                }
            }

            #listing-social{
                height:30px;width:340px;
                position:absolute;
                bottom:10px;left:10px;

                .fb{
                    height:30px;
                    width:200px;
                    float:left;
                }
                .twitter{
                    float:right;
                }
            }
        }
        #listing-inquiries, #listing-messages{

            h2{
                margin:0 0 10px;
                font-size:18px;
                font-weight:normal;
            }

            .meta{
                position:relative;
                margin-left:35px;
                img{
                    position:absolute;
                    top:0;left:-35px;
                }
                .name {
                    font-weight:bold;
                }
                .created {
                    font-size:10px;
                }
            }
        }
        #listing-inquiries{
            padding:0;
            width:580px;
            //float:right;


            h2{
                padding:10px 10px 0;
            }
/*
            #inquiryFormWrap{
                position:relative;
                padding:10px;

                input{
                    width:545px;
                }
                #questionForm{
                    top:5px;left:5px;
                    width:560px;
                    z-index:3;
                }
            }*/

            .inquiry{
                z-index:1;
                position:relative;
                min-height:30px;

                @include dark-button($blue - #444);

                .inquiryData{
                    padding:10px;
                    border-top:1px solid $grey - #111;
                }

                .question{
                    margin-left:35px;
                }

                .answer{
                    margin:5px 0 0 35px;
                    font-weight:bold;
                }
                .ansButton{
                    position:absolute;
                    top:10px;right:10px;
                    display:none;
                }
            }

            .inquiry.canAnswer:hover{
                background-color:$grey + #111;
                .clicky{
                    display:block;
                    bottom:2px;right:2px;
                    @include down-arrow-sprite();
                }
            }

            .inquiry.selected{
                z-index:2;

                .inquiryData{
                    z-index:1;
                    background-color:$lightBlue !important;
                    border-left:1px solid $grey - #444;
                    border-right:1px solid $grey - #444;

                    @include box-shadow(0 2px 4px $black + #333);
                    /*@include rounded-bottom();*/

                    .clicky{display:none !important;}
                    .ansButton{display:none !important;}
                }

                .answerForm{
                    z-index:2;
                    padding:10px;
                    position:absolute;
                    bottom:-50px;left:0;
                    height:30px;width:558px;

                    background-color:$lightBlue !important;
                    border:1px solid $grey - #444;
                    border-top:none;
                    @include box-shadow(0 2px 4px $black + #333);

                    @include dark-button($blue - #444, '.submit');

                    input[type=text]{
                        width:465px;
                    }
                    .submit{
                        width:70px;
                        padding: 3px 15px 5px !important;
                        position:absolute;
                        right:10px;
                        top:12px;
                    }
                }
            }
        }
        #listing-messages{
            //float:left;

            .messageForm{
                margin-bottom:5px;

                @include dark-button($blue - #444, '.submit');

                input{
                    width:325px;
                    margin-bottom:5px;
                }
                input[type=submit]{
                    width:70px;
                    margin-top:1px;
                    float:right;
                }
            }

            .message{
                min-height:30px;
                padding:10px;
                border-bottom:1px solid $grey;

                .messageBody{
                    margin-left:35px;
                }
            }
        }
/*        #listing-offers{
            min-height:40px;
            padding-bottom:0;

            #offerFormWrap{
                position:relative;
                z-index:4;

                input{
                    width:325px;
                }

                #offerField{
                    position:absolute;
                    top:0;left:0;
                }
                #offerForm{
                    top:-5px;left:-5px;
                }
            }
            #offerList{
                margin-top:40px;

                .offer{
                    position:relative;
                    height:50px;
                    width:360px;
                    margin-left:-10px;
                    z-index:1;

                    background-color:$white;

                    .offerData{
                        position:absolute;
                        top:0;left:0;
                        height:30px;
                        width:340px;
                        border-top:1px solid $grey - #111;
                        padding:10px;
                        z-index:1;

                        .amount{
                            position:absolute;
                            right:10px;top:10px;
                            font-size:26px;
                            font-weight:bold;
                            line-height:30px;
                            vertical-align:middle;
                        }
                        .actions{
                            margin-left:35px;
                            font-size:12px;
                        }
                        .clicky{
                            @include left-arrow-sprite();
                            top:2px;left:2px;
                        }
                    }

                    &.accepted{
                        background-color:#d2ffe7;
                    }

                }
                .offer.hasMessages:hover{
                    background-color:$grey + #111 !important;
                    .clicky{display:block;}
                }
                .offer.selected{
                    z-index:2;

                    .offerData{
                        z-index:3;
                        background-color:$lightBlue;
                        border:1px solid $grey - #444;
                        border-left:none;
                        border-bottom:none;
                        @include box-shadow(2px 1px 2px $black + #333);

                        .clicky{display:none !important;}
                    }

                }
            }
        }
*/
/*
        .conversation{
            position:absolute;
            width:400px; min-height:45px;
            left:-401px; top:0px;
            padding:0px;
            z-index:2;

            background-color:$lightBlue;
            border:1px solid $grey - #444;

            @include box-shadow(0 2px 4px $black + #333);
            @include dark-button($blue - #444, '.submit');
            @include rounded();
            @include rounded-top-right(0px);
        }
*/
    }
    #new_listing{
        width:100%;

        li, ul {margin:0;padding:0;list-style:none;}
        input[type=text], input[type=email], input[type=password], textarea, .image_capture{
            width:93%;
            padding:2%;
            margin:2%;
            display:block;
            font-size:16px;
            @include sans();

            border:none;
            background-color:$white;
            @include box-shadow(0 2px 4px $black + #222);
            @include rounded(0px);
        }
        .image_capture{
            img{
                max-height:40px;
                width:auto;
                margin:0 0 -7px;
                padding:0;
            }
            .take, .selectFile{
                float:right;
            }
        }
        .form_item:after {@include clearfix();}
    }
    #thanks{
        width:93%;
        padding:2%;
        margin:2%;
        display:block;
        font-size:16px;
        @include sans();

        border:none;
        background-color:$white;
        @include box-shadow(0 2px 4px $black + #222);
        @include rounded(0px);
    }
}

footer{
    text-align:center;
    padding:0;
    font-size:12px;
    color:$white - #222;
    margin-bottom:100px;

    a{
        color:$white - #181818;
        margin-right:10px;
    }
    a:hover{text-decoration:underline;}
}

#notifications{
    position:fixed;
    left:50%;top:100px;
    width:340px;
    margin-left:130px;
    z-index:3;

    .notification{
        padding:10px;
        margin-bottom:10px;
        color:$white;

        background-color:rgba($black, 0.7);
        @include rounded();

        a{
            color:$white;
            text-decoration:underline;
        }
    }
}

.dialog{
    display:none;
    position:absolute;
    padding:5px;

    background-color:$grey - #111;
    border:1px solid $grey - #444;

    @include box-shadow(0 2px 4px $black + #333);
    @include rounded();
}

.formDialog{
    @include dark-button($blue - #444, '.submit');

    input{
        margin-bottom:5px;
    }
    .submit{
        width:77px !important;
        color:$white !important;
        margin-bottom:0;
        float:right;
    }
}

#loading {
    display:none;

    position:absolute;
    top:80px;left:50%;
    width:80px;margin-left:-50px;
    height:40px;

    text-align:center;
    padding:10px;
    color:$white;
    background-color:transparentize($black, 0.2);
    @include rounded();
    z-index:2;
}


.clicky{
    display:none;
    position:absolute;
    height:15px;width:15px;
    @include rounded(3px);

    font-size:12px;
    line-height:12px;
    font-weight:bold;
    color:$grey - #666;
    text-shadow: $white 0 -1px 1px;
    text-align:center;
    vertical-align:middle;

    border:0px solid $grey - #111;
    background-color: $grey - #111;
    @include box-shadow((inset 0 -1px 1px $grey + #222,
                         inset 0 1px 1px $grey - #333));
}

@import "mobile_tablet";
@import "mobile_landscape";
@import "mobile_portrait";
@import "mobile_retna";
