
$white: #F1F1F2;

$grey: #d5d5d5;
$black: #0A0A0A;
$red: #D31920;
$green: #009345;
$lightGreen: #e5fff1;
$blue: #3F74B2;
$lightBlue: #EAF1F6;
$darkYellow: #D7A827;
$yellow: #fffaaf;
$lightYellow: #fff8d8;
$orange: #ff5c46;
$gorange: #EF4136;

$layout_width: 960px;
$section_width: ($layout_width - 15)/2;

$mob_layout_width: 320px;
$mob_section_width: $mob_layout_width - 20px;

@import "reset";
@import "mixins";
@import "generic";
@import "video";

html, body{
  background-image:url(../img/bg.jpg);
  margin:0;padding:0;
}

html{
  background-color:#87888B;
}

body{
  /*@include gradient(#E5E5E6, #87888B);*/
  font-size: 14px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color:#444;
}

.width{
  position:relative;
  width: $layout_width;
  @media only screen and (max-width: 480px) {
    width: $mob_layout_width;
  }
}

#top-bar{
  height:25px;
  width:100%;

  font-size:12px;
  text-align:left;
  color:$grey;
  background-color:$black + #333;

  @media only screen and (max-width: 480px) {
    .tagline{
      display:none;
    }
  }

  .tagline{
    padding:5px;
    width:150px;
    float:left;
  }

  .inner-top-bar{
    height:15px;
    float:right;
    color:$grey;
    padding:5px;

    @media only screen and (max-width: 480px) {
      padding-right:10px;
    }
  }

  .login, .logout{
    color:$white;
    margin-right:0px;
  }

  .logout, .name{display:none;}

  a {
    color:$grey;
    margin-right:10px;
  }

  .set-name{
    color: $red;
  }

  #login-form{
    right:0px;top:20px;
    width:160px;
    z-index:3;

    @include rounded-bottom();
    @include rounded-top-left();

    .bubble-password{
      top:35px;
    }

    input{
      float:right;
      margin-bottom:5px;
      width:148px;
      min-height:1px;
    }

    .forgot, .remember{
      display:block;
      color:$blue;
      padding-left:3px;
      margin-bottom:5px;
    }

    .remember{display :none;}

    input.submit{
      width:77px;
    }
  }
}

#header{
  $headerBack: $blue;

  height: 50px;
  width:100%;
  background-color:$black + #222;
  border-top:1px solid $headerBack - #222;
  border-bottom:1px solid $blue - #444;
  @include gradient($headerBack + #111, $headerBack - #111);
  @include box-shadow(0 1px 2px $black + #666);

  .width{position:relative;}

  #logo{
    $height: 34px;

    width:200px;
    height:50px;
    @include background-size(auto 34px);
    background-repeat:no-repeat;
    background-position:left center;
    background-image:url(../img/ab_logo.png);
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image:url(../img/ab_logo@2x.png) !important;
    }
  }

  ul{
    height:100%;
    position:absolute;
    top:0;right:0;
    width: $layout_width - 200px;
    @media only screen and (max-width: 480px) {
      width: $mob_layout_width - 200px;
    }

    li{
      height:100%;
      float:left;

      a.button{
        padding:4px 10px 6px;
        margin:12px 5px 0;
      }
      @include dark-button($blue - #444);
    }
    li.active{@include dark-button($red - #555)}
    li.right{
      float:right;
      margin-right:-6px;
    }
  }
}


#body{
  padding:10px 0 0;
  z-index:2;

  .section-left, .section-right, .flatpage{
    margin:10px 0;
    position:relative;
  }
  .section-left{
    width: $section_width;
    float:left;
    clear:left;

    @media screen and (max-width: 480px) {
      width: $mob_section_width;
      float:none;
      margin:10px auto;
    }
  }
  .section-right{
    width: $section_width;
    float:right;
    clear:right;

    @media screen and (max-width: 480px) {
      width: $mob_section_width;
      float:none;
      margin:10px auto;
    }
  }
  .flatpage{
    width:700px;
    @media screen and (max-width: 480px) {
      width: $mob_section_width;
    }

    margin:10px auto;

    padding: 10px;
    @include box-shadow(0 1px 3px $black + #666);
    background-color: $white;
  }

  .settings {

    #nav {
      display: inline-block;
      position: absolute;
      width: 200px;
      height: 100%;

      margin: -10px;
      padding-bottom: -30px;

      border-right: 2px solid #DDD;
      background-color: #DDD;
      text-align: left;

      a {
        display: block;
        width: 182px;
        padding: 10px;
        margin-bottom: 10px;

        background-color: transparent;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          background-color: $grey;
          text-decoration: none;
        }
        &.selected {
          background-color: $white;
        }
      }
    }

    #setting {
      display: inline-block;
      width: 500px;
      margin-left: 205px;
      min-height: 250px;

      h1{
        font-size:18px;
      }

      form{
        width:300px;

        input{
          display:block;
          width:100%;
          margin-bottom:5px;
        }

        @include dark-button($blue - #444, '[type=submit]');
        input[type=submit]{
          width:77px !important;
          color:$white !important;
          float:right;
        }

        .confirm{
          display:none;
          margin:5px 5px 0;
          float:right;
          color:$green;
        }
      }
      #unlinked, #linked{
        a{
          margin-right:5px;
        }
      }

      .avatar{
        img.current{
          height:75px;
          width:auto;
          margin:10px 0 15px;
        }
        input[type=file]{
          width:200px;
        }
        input[type=submit]{
          float:right;
        }
      }
    }

  }

  .home{

    .splash{
      position:relative;
      height:290px;
      $width: $layout_width;
      width: $width;

      @media screen and (max-width: 480px) {
        display:none;
      }

      margin:10px auto 15px;

      .left{
        float:left;
        width: 480px;

        padding:10px;
        background-color: $white;
        @include box-shadow(0 1px 3px $black + #666);
      }
      .right{
        float:right;
        width: $width - 510px;

        text-shadow: 0px -1px 1px $white;

        h3{
          font-size:33px;
          margin:5px 0 0 0;
        }
        .tagline{
          margin:5px 0;
          color:$green;
          font-weight:bold;

          .pictos{font-size:20px;}
        }
        .desc{
          margin:5px 0 30px;
        }

        .platforms{margin-bottom:0;}
      }

      .close{
        display:block;
        position:absolute;
        top:-6px;
        left:-6px;
        font-size:20px;
        text-decoration:none;
        color:#444;
      }
    }

    .expand{
      display:none;
      text-align:left;
    }

    .listings{
      .listing-wrap{
        float:left;
        margin:10px 30px 10px 0;

        &:nth-child(3n){margin-right:0;}


        @media screen and (max-width: 480px) {
          margin: 10px;
        }
      }
    }
  }

}

#footer{
  padding:10px 0 200px;
  z-index:1;
  clear:both;

  color:$black + #555;
  font-size:12px;
  text-align:center;

  a{
    color:$black + #555;
    margin-right:10px;
  }
  a:hover{text-decoration:underline;}
}

#notifications{
  position:fixed;
  left:50%;top:100px;
  width:340px;
  margin-left:130px;
  z-index:3;

  .notification{
    padding:10px;
    margin-bottom:10px;
    color:$white;

    background-color:rgba($black, 0.7);
    @include rounded();

    a{
      color:$white;
      text-decoration:underline;
    }
  }
}

.dialog{
  display:none;
  position:absolute;
  padding:5px;

  background-color:$grey - #111;
  border:1px solid $grey - #444;

  @include box-shadow(0 2px 4px $black + #333);
  @include rounded();
}

.formDialog{
  @include dark-button($blue - #444, '.submit');

  input{
    margin-bottom:5px;
  }
  .submit{
    width:77px !important;
    color:$white !important;
    margin-bottom:0;
    float:right;
  }
}

#loading {
  display:none;
  z-index:2;

  position:fixed;
  top:80px;right:0;
  width:100px;
  height:20px;
  padding:5px;

  vertical-align:middle;
  color:$white;

  border:1px solid $black + #111;
  border-right:none;
  @include gradient($black + #333, $black);
  @include box-shadow(0 1px 1px $black);
  @include rounded-left();

  img{
    margin-right:5px;
  }
}

.topError{
  position:relative;
  width:100%;

  text-align:left;
  color:$white;
  text-shadow: 0 -1px 1px $red - #444;
  @include gradient($red - #111, $red - #222);

  .message{
    padding:5px;
  }
}

.error{
  color: $red;
}

.success{
  color: $green;
}

@import "listing";
@import "user";

@import "mobile/landscape";
@import "mobile/retna";
