
$white: #F1F1F2;

$grey: #d5d5d5;
$black: #0A0A0A;
$red: #D31920;
$green: #009345;
$blue: #1b75bb;
$yellow: #333;

$layout_width: 960px;

@import "reset";
@import "mixins";
@import "generic";

html, body{
    background-image:url(../img/bg.png);
}

html{
    background-color:#87888B;
}

body{
    /*@include gradient(#E5E5E6, #87888B);*/
    font-size: 14px;
    font-family: 'Cantarell', arial, sans-serif;
}

.width{position:relative;}

#top-bar{
    background-color:$black;
    /*background-image:url(../img/chalkboard_thin.jpg);*/
    text-align:right;
    font-size:12px;

    padding:5px;
    color:$grey - #222;
    font-weight:bold;

    a {
        color:$grey - #222;
        margin-right:10px;
    }

    .login, .logout{
        color:$white;
        margin-right:0px;
    }
    .login, .name{
        padding:0 6px 4px;
        border:1px solid $black;
        border-bottom:0;
    }
    .logout, .name{display:none;}

    .open{
        background-color:$grey;
        border-color:$grey - #555;
        @include rounded-top();
        color:$black;
        z-index:3;
        color:$grey - #777;
        text-shadow: $grey + #444 0 1px 2px;
    }
    .popup{
        border-top:none;
    }
    #loginForm{
        right:0px;top:17px;
        width:160px;
        @include rounded-bottom();
        @include rounded-top-left();

        input{
            float:right;
            width:148px;
        }
        input.submit{
            width:77px;
        }
    }
    #settingsForm{
        right:0px;top:17px;
        width:300px;

        input{
            float:right;
            width:288px;
        }
        input.submit{
            width:77px;
        }
    }
}

header{
    height:50px;
    background-color:$black + #222;
    /*@include gradient($black + #383838, $black);*/
    background-image:url(../img/ab_grad.png);
    border-top:1px solid $black + #555;
    border-bottom:1px solid $black + #333;
    @include box-shadow(0 1px 0px $black);

    #logo{
        position:absolute;
        top:9px;left:5px;
        width:170px;
        height:33px;
        background-image:url(../img/ab_logo.png);
        @include background-size();
        background-repeat:no-repeat;
    }

    ul{
        height:100%;
        position:absolute;
        top:0;left:200px;
        width: $layout_width - 200px;

        li{
            height:100%;
            float:left;

            a{
                margin:12px 5px 0;
            }
            @include dark-button();
        }
        li.active{@include dark-button($red - #555)}
        li.thanks{@include dark-button($blue - #555)}
        li.right{
            float:right;
            margin-right:-6px;
        }
    }
}

#body{
    padding:10px 0 0;

    .section-left, .section-right{
        margin:10px 0;
        position:relative;
        padding:10px;
        background-color:$white;
        @include box-shadow(0 4px 8px $black + #333);
    }
    .section-left{
        width:560px;
        float:left;
    }
    .section-right{
        width:340px;
        float:right;
    }

    .listing{
        #listing-image{
            height:418px;
            img{
                border:1px solid $grey;
                height:418px;
                width:560px;
            }
        }
        #listing-sidebar{
            height:418px;

            .map{
                width:340px;
                height:200px;
                border:1px solid $grey;
            }

            #listing-offerbar{
                $bg-color:#d5d5d5;

                margin:15px 0 20px;
                padding:0;

                @include box-shadow(0 1px 2px $black);
                border:1px solid $bg-color - #181818;
                @include gradient($bg-color + #080808, $bg-color - #181818);
                @include rounded();

                font-weight:bold;
                color:$bg-color - #777;
                text-shadow: $bg-color + #444 0 1px 2px;

                .listing-obi{
                    border-right:1px solid $bg-color - #222;
                    padding:5px 10px;

                    width:92px;
                    height:100%;
                    float:left;

                    .listing-obi-title{
                        font-weight:bold;
                        font-size:12px;
                    }

                    .listing-obi-value{
                        font-size:26px;
                        font-weight:bold;
                    }
                }
                .listing-obi.asking{
                    color:$green - #333;
                }
                .listing-obi.best-offer{
                }
                .listing-obi.date{
                    border-right:none;
                }
            }
        }
        #listing-qa, #listing-offers{
            background-color:$grey;
        }
        #listing-qa{
            input{
                width:550px;
            }
        }
        #listing-offers{
            min-height:40px;
            padding-bottom:0;

            #offerFormWrap{
                position:relative;
                z-index:2;

                input{
                    width:325px;
                }

                #offerField{
                    position:absolute;
                    top:0;left:0;
                }
                #offerForm{
                    display:none;
                    position:absolute;
                    top:-5px;left:-5px;
                    padding:5px;

                    background-color:$grey - #111;
                    border:1px solid $grey - #444;

                    @include box-shadow(0 2px 4px $black + #333);
                    @include dark-button($blue - #444, '.submit');
                    @include rounded();

                    input{
                        margin-bottom:5px;
                    }
                    .submit{
                        padding:3px 10px 4px !important;
                        width:77px;
                        color:$white !important;
                        margin-bottom:0;
                        float:right;
                    }
                }
            }
            #offerList{
                margin-top:40px;

                .offer{
                    height:30px;
                    width:340px;
                    margin-left:-10px;
                    border-top:1px solid $grey - #111;
                    padding:10px;

                    .amount, .meta, .action{
                        height: 40px;
                    }
                    .meta{
                        float:left;
                        position:relative;
                        margin-left:35px;
                        img{
                            position:absolute;
                            top:0;left:-35px;
                        }
                        .name {
                            font-weight:bold;
                        }
                        .created {
                            font-size:10px;
                        }
                    }
                    .amount{
                        float:right;
                        margin-left:5px;
                        font-size:26px;
                        font-weight:bold;
                        line-height:30px;
                        vertical-align:middle;
                    }
                    .action{
                        float:right;
                    }
                }
                .offer:hover{
                    background-color:$grey - #111;
                }
            }
        }
    }
    #new_listing{
        width:100%;

        li, ul {margin:0;padding:0;list-style:none;}
        input, textarea, #image{
            width:93%;
            padding:2%;
            margin:2%;
            display:block;
            font-size:16px;
            @include sans();

            border:none;
            background-color:$white;
            @include box-shadow(0 2px 4px $black + #222);
            @include rounded(0px);

        }
        #image img{
            max-height:40px;
            width:auto;
            margin:0 0 -7px;
            padding:0;
        }
        .form_item:after {@include clearfix();}
    }
    #thanks{
        width:93%;
        padding:2%;
        margin:2%;
        display:block;
        font-size:16px;
        @include sans();

        border:none;
        background-color:$white;
        @include box-shadow(0 2px 4px $black + #222);
        @include rounded(0px);
    }
}

footer{
    text-align:center;
    padding:0;
    font-size:12px;
    color:$white - #222;

    a{
        color:$white - #181818;
        margin-right:10px;
    }
    a:hover{text-decoration:underline;}
}

#dialog{

    label{
        vertical-align:top;
        display:block;
        margin-bottom:10px;
        input{
            float:right;
        }
    }
    label.password{
        display:none;
        .password-text{
            float:left;
            width:100px;
        }
    }
    input{
        width:150px;
    }
    a{
        display:block;
        font-size:12px;
    }
    a.password{
        text-align:right;
    }
    a.cancel-password{
        float:left;
    }
}

#loading {
    display:none;

    position:absolute;
    top:80px;left:50%;
    width:80px;margin-left:-50px;
    height:40px;

    text-align:center;
    padding:10px;
    color:$white;
    background-color:transparentize($black, 0.2);
    @include rounded();
    z-index:2;
}

@import "mobile_tablet";
@import "mobile_landscape";
@import "mobile_portrait";
@import "mobile_retna";
