
<div class="liConvo" id="liConvo-{{_id}}">
    <div class="liConvoData">
        <div class="offer"></div>
        <div class="actions">

        </div>
        <div class="clicky"></div>

    </div>
</div>
