
<div class="liConvo" id="liConvo-{{_id}}">
    <div class="liConvoData">
        <div class="actions">

        </div>
        <div class="amount">
            <div class="amountNumber"></div>
            <div class="amountText"></div>
        </div>
        <div class="clicky"></div>

    </div>
</div>
