
<div class="user">
	<div class="presence offline"></div>
    <img class="avatar">
    <span class="name">Anonymous</span>
    <div class="social">
    	<a class="fb" target="_blank"><img src="/img/fb.png"></a>
    	<a class="twitter" target="_blank"><img src="/img/twitter.png"></a>
    	<a class="linkedin" target="_blank"><img src="/img/linkedin.png"></a>
    </div>
</div>
