<script id="form" type="text/html">
    {{#fields}}
        <label id="{{name}}_label">
            <input id="{{name}}" name="{{name}}" type="{{type}}"
                placeholder="{{placeholder}}" />
        </label>
    {{/fields}}
</script>