
{{#fields}}
    <label id="{{name}}_label">
        <input id="{{name}}" name="{{name}}" type="{{type}}"
            placeholder="{{placeholder}}"
            {{#hide}}style="display:none"{{/hide}} />
    </label>
{{/fields}}
